<!DOCTYPE html>
<html>
  <head>
    <title>SiteMesh Micronaut Example: <sitemesh:write property="title">Title goes here</sitemesh:write></title>
    <style>
      body { font-family: arial, sans-serif; background-color: #ffffcc; }
      h1, h2, h3, h4 { text-align: center; background-color: #ccffcc; border-top: 1px solid #66ff66; }
      .disclaimer { text-align: center; border-top: 1px solid #cccccc; margin-top: 40px; color: #666666; font-size: smaller; }
    </style>
    <sitemesh:write property="head"></sitemesh:write>
  </head>
  <body>

    <h1 class="title">SiteMesh + Micronaut: <sitemesh:write property="title">Title goes here</sitemesh:write></h1>

    <sitemesh:write property="body">Body goes here.</sitemesh:write>

    <div class="disclaimer">Decorated by SiteMesh via a wrapped ViewsRenderer (filterless).</div>

  </body>
</html>
