<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>

    <p>Well hello there, fine world.</p>
    <p>And so concludes this <b>SiteMesh</b> example.</p>
 
    <h2>How it works</h2>
    <ul>
      <li>This page (<code>/index.html</code>) contains vanilla HTML content.</li>
      <li>SiteMesh is configured (in <code>/WEB-INF/web.xml</code>) to apply a decorator to all paths (<code>/*</code>).</li>
      <li>The decorator (<code>/decorator.html</code>) contains the common look and feel that is applied to the site.</li>
    </ul>

  </body>
</html>